.App {
  text-align: center;
}

.show-item {
  border-radius: 5px;
  width: 250px;
  background-color: rgb(48, 48, 48);
  color: rgb(244, 250, 233);
  padding: 10px;
  margin: 30px;
  height: 200px;
}

.shows-list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
